form div {
    padding-top: 1px!important;
    padding-bottom: 0px!important;
}
.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
h1, h2, h3, h4,.spaced {
    padding-left: 70px!important;
}
.spaced {
    font: 16px Arial, Verdana, Helvetica, sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 16px;
    line-height: normal;
    font-family: Arial, Verdana, Helvetica, sans-serif;
}
.stick-left {
    padding-left: 0px!important;
}
.navbar {
    min-height: 105px!important;
    background-color: rgba(255, 255, 255, .9);
}
.desktopScreenNavbar, nav ul ul, .navb, .mobileScreenNavbar, .mobileb {
    background-color: rgba(255, 255, 255, .9)!important;
}
.form-input-field {
    background: #c4c4c4;
}
footer {
    display: block;
    background-color: #000066;
    padding: 2% 5% 2% 5%;
    margin: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
}
#footer{
    color: white;
}
#footer > a >span{
    color:darkred!important;
}

a.social:hover {
    color: #f4f1f1;
}

@media only screen and (max-width: 960px) {

    #nwrap {
        width: 100%;
        padding-top: 0;
    }

    #mwrap {
        display: block;
    }

    .show {
        display: block!important;
    }

    nav {
        display: none;
        padding-top: 0;
        position: absolute;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        padding-bottom: 10px;
    }

    nav ul {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    nav ul li {
        display: block;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-right: 0;
        padding-left: 0;
        background: none;
    }

    nav ul ul {
        background: none;
    }

    nav ul ul {
        position: relative;
        padding-top: 10px;
        width: 100%;
        text-align: center;
        margin-left: 0;
    }

    nav li li {
        margin: 5px auto;
    }

    nav li li a {
        font-size: 11px;
    }

    nav li li:hover ul {
        left: 0;
        top: 0;
    }

    nav > ul > li > a {
        padding-top: 0;
    }

    nav > ul > li > ul {
        top: 35px;
    }

    nav ul li ul li {
        display: block;
        padding: 0;
        padding-top: 5px;
    }

    .ie9 nav > ul > li > ul {
        top: 5px;
        left: 0;
    }

    .ie8 nav > ul > li > ul {
        top: 5px;
        left: 0;
    }

    nav > ul > li > ul {
        top: 5px;
        left: 0;
    }

    nav > ul > li#current:after, header nav > ul > li#currentAncestor::after, nav ul li:hover:after  {
        border: none;
    }

    nav ul li ul li a:hover:after {
        width: 5%;
    }

    nav ul li a:after {
        content: "";
        display: block;
        border-bottom: 1px solid #fff;
        margin: 0px auto;
        width: 4%;
        padding-bottom: 5px;
        opacity: 0;
    }

    nav ul li a:hover:after {
        opacity: 1;
    }

    nav ul li ul li:hover:after {
        opacity: 0;
    }

    nav > ul > li > a#current:after, nav ul li a:hover:after, header nav > ul > li > a#currentAncestor::after {
        content: "";
        display: block;
        border-bottom: 1px solid #fff;
        margin: 0px auto;
        width: 4%;
        padding-bottom: 5px;
    }

}
.form-input-button{
    color: black;
}
